
 #logo{
    background-color: white;
}
#title{
    background-color: skyblue;
    color: white;
}
#menu{
     background-color: white;
     color: blue;
}
#main{
    background-color: skyblue;
    color: aliceblue;
}